name: Pick Bot

on:
  workflow_dispatch:

  pull_request:
    types:
      - opened
      - edited
      - reopened
      - closed

jobs:
  pick:
    name: 'Cherry Pick Bot'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # get all history

      - name: Download pick
        run: |
          git branch 
          git branch -a
          ls -lah
          git fetch --all

      - name: Pick bot
        uses: pick-labs/github-action@v1
        with:
          token: ${{ secrets.BOT_TOKEN }}
